.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-left: 117px;
}
.header_navigation_container{
    display: flex;
    gap: 16px
}
.header_Action_container{
    display: flex;
    gap:22px;
    padding-right: 101px;
}