
.card{
    display: flex;

    flex-direction: column;
    justify-content:left;
    max-width: 386px;
    height: 444px;
}
.card_body{

text-align: left;
padding: 16px;

}
.card_title{
    margin-top: 24px;
}
